version: '3'

services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: {{ postgres_user }}
      POSTGRES_DB: {{ postgres_db }}
      POSTGRES_PASSWORD: {{ postgres_password }}
    ports:
      - 5432:5432
    volumes:
      - db:/var/lib/postgresql/data

volumes:
  db:
    driver: local
